alabaster==0.7.12
Babel==2.6.0
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
Click==7.0
docutils==0.14
Flask==1.0.2
idna==2.7
imagesize==1.1.0
itsdangerous==1.1.0
Jinja2==2.10
lxml==4.2.5
MarkupSafe==1.1.0
packaging==18.0
Pallets-Sphinx-Themes==1.1.2
Pygments==2.2.0
pyparsing==2.3.0
pytz==2018.7
requests==2.20.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.1
sphinxcontrib-log-cabinet==1.0.0
sphinxcontrib-websupport==1.1.0
urllib3==1.24.1
Werkzeug==0.14.1
